this is the create form page
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/locations" method="post">
      <label for="description">Add a new location</label>
      <input id="description" name="description" type="text">
      <label for="days">How many days did you stay?</label>
      <input id="days" name="days" type="number">
      <label for="journal">Journal Entry</label>
      <textarea id="journal" name="journal"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>